<mat-toolbar>
  <span class="title">REGISTRATION</span>
</mat-toolbar>
<form class="my-form">
  <mat-form-field class="full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First name" name="fname" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last name" name="lname" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Address" name="address" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" name="Email" >
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label></mat-label>
    <input matInput placeholder="password" name="password" >
  </mat-form-field>
</form>

<button mat-raised-button  color="primary">REGISTER</button>
