.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 30%;
  padding-top: 3%;
}

.full-width{
  width:100%;
  margin-top:4%;
}

button{
  width:20%;
  height:8%;
  margin-left:40%;
  margin-top:10%;
}

.title{
  margin-left:40%;
}
