
<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

   <span>{{ title }}App is running!!</span>

  </div>

  <!-- Resources -->
  <div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='lightgreen'">Yellow
    <input type="radio" name="colors" (click)="color='lightgreen'">Cyan
  </div>
  <h2><p [appHighlight]="color">Highlight me!</p></h2>


  <p>Here are some links to help you get started:</p>



</div>


