<mat-toolbar>
  <span class="one">Login</span>
</mat-toolbar>
<form class="my-form">
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [(ngModel)] = "username" name="email" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="password" [(ngModel)] = "password" name="password" type="password" required>
  </mat-form-field>

</form>

<button mat-raised-button  (click) ="login()"color="primary">Login</button>
