<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<body ng-app>
  <app-r></app-r>
  <h2><input type="text" ng-model="Num1"/>*<input type="text" ng-model="Num2"/>
  =<span> {{Num1*Num2}} </span></h2>
  <h2><input type="text" ng-model="Num3"/>-<input type="text" ng-model="Num4"/>
  =<span>{{Num3-Num4}}</span></h2>
  <h2><input type="number" ng-model="Num5"/>+<input type="number" ng-model="Num6"/>
  =<span>{{Num5+Num6}}</span></h2>
  <h2><input type="text" ng-model="Num7"/>/<input type="text" ng-model="Num8"/>
  =<span>{{Num7/Num8}}</span>
    </h2>

</body>
</html>
